.page-header__container {
  display: flex;
  align-items: center;
}

.page-header__main-nav {
  display: flex;
  align-items: center;
}

.page-header__main-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
