$main-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$main-white-color: #ffffff;
$main-black-color: #000000;
$add-footer-color: rgba(255, 255, 255, 0.6);
$main-bg-color: #ffffff;
$sec-bg-color: #2f303a;
$add-bg-color: #f5f4fa;
$border-portfolio-color: #ececec;
$bg-overlay-transparent-color: rgba(47, 48, 58, 0.4);
$hero-bg-color: #c4c4c4;
$icon-color: #afb1b8;
$social-link-bg-color: rgba(255, 255, 255, 0.1);
$overlay-text-color: rgba(47, 48, 58, 0.8);
$overlay-bg-color: rgba(33, 150, 243, 0.9);
$overlay-backdrop-color: rgba(0, 0, 0, 0.2);
$border-modal-btn: rgba(0, 0, 0, 0.1);
$border-email-color: rgba(255, 255, 255, 0.3);
$box-shadow-color: rgba(0, 0, 0, 0.15);
$border-input-color: rgba(33, 33, 33, 0.2);
$modal-placeholder-text-color: rgba(117, 117, 117, 0.5);
$input-email-drop-shadow: rgba(0, 0, 0, 0.15);
$client-drop-shadow: rgba(0, 0, 0, 0.25);

$timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
$transition-time: 250ms;

$border-radius-button: 4px;

$main-font-family: Roboto, sans-serif;
$logo-font-family: Raleway, sans-serif;

$main-font-size: 14px;
$sec-font-size: 16px;
$example-title-details-font-size: 18px;
$title-font-size: 36px;
$logo-font-size: 26px;
$hero-title-font-size: 44px;
$modal-contact-data-font-size: 20px;
$modal-form-text-font-size: 12px;

$main-font-weight: 400;
$sec-font-weight: 500;
$title-font-weight: 700;
$hero-title-font-weight: 900;

$main-line-height: 1.71;
$sec-line-height: 1.14;
$hero-title-line-height: 1.36;
$modal-contact-data-line-height: 1.15;
$subscription-email-line-height: 1.25;
$filter-list-item-line-height: 1.62;
$example-details-line-height: 1.56;
$example-title-line-height: 2;
$btn-example-description-line-height: 1.87;
$title-line-height: 1.17;
$title-modal-form-line-height: 1.17;
$logo-photo-line-height: 1.19;
